@page "/"

<h1>Distributed cache using Cosmos DB</h1>

This sample application uses Cosmos DB as a distributed cache provider to cache data across API calls.

The "Test cache" page will create a cache entry that will be reused across refreshes for 5 minutes.
